<ion-view title="Comments">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<ion-item ng-repeat="comment in comments track by $index">
				<div class="list">
					<div class="item item-avatar">
						<img ng-click="goTo(comment.fromUser.id)" ng-src="{{comment.fromUser.profilePictureURL}}">
						<h2>{{comment.fromUser.displayName}}</h2>
						<p>{{comment.message}}</p>
						<button ng-if="currentUser.id === comment.fromUser.id" ng-click="deleteComment(comment)" class="button-icon ion-trash-b"></button>
					</div>
				</div>				
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar class="bar-positive">
		<input id="input-comment" type="text" ng-model="comment" placeholder="Type your comment here">
		<button ng-click="sendComment(comment)" id="input-comment-submit" class="button button-positive">Comment</button>
	</ion-footer-bar>
</ion-view>